.header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 800;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 20px;
    height: 200px;
    background-color: var(--topo);
    color: var(--topoFonte);
}

