
:root {  
  --branco: #fff;
  --preto: #000;
  --cinza: #ccc;
  --topo: 	#ADD8E6;
  --topoFonte: #6A5ACD;
  --fonte: 'Montserrat', sans-serif;
  --corBtn: #191970; 
  --corBtnHover: #483D8B;
 
}

body {
  margin: 0px;
  font-family: var(--fonte);
  font-size: 1rem;
}

.btn {
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 4px;    
}

.btn:hover {
  background-color: var(--corBtnHover);
}

.form {
  
}