
:root {  
  --branco: #fff;
  --preto: #000;
  --cinza: #ccc;
  --topo: 	#ADD8E6;
  --topoFonte: #6A5ACD;
  --fonte: 'Montserrat', sans-serif;
  --corBtn: #191970; 
  --corBtnHover: #483D8B;
 
}

body {
  margin: 0px;
  font-family: var(--fonte);
  font-size: 1rem;
}

.btn {
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    cursor: pointer;
    transition: background .3s;
    border-radius: 4px;    
}

.btn:hover {
  background-color: var(--corBtnHover);
}

.form {
    padding: 0.2em;
    width: 300px;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    margin-bottom: 10px;
}

.post {
  width: 95%;
}